<nav class=" navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo página"  width="130" height="50"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/card/allCard">Cards</a>
        </li>
      </ul>
      <div class="d-flex">
        <button class="general-button m-2" onclick="window.location.href='/collector/login'">
          Login
        </button>
        <button class="general-button m-2" onclick="window.location.href='/collector/addCollector'">
          Sign up
        </button>
      </div>
    </div>
    
  </div>
</nav>